.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .btn {
    display: inline-block;
    background-color: #2dad27;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  h1, h3 {
    margin-bottom: 10px;
  }
  